
@font-face {
  font-family: "SBLHebrew";
  src: url("SBLHebrew.woff2");
}
@font-face {
  font-family: "ShofarD";
  src: url("Shofar_D.woff");
}

body {
  font-family: "Crimson Text";
  text-align: justify;
  --future-accent-color:  rgba(88, 255, 0, 8%);
  --next-accent-color:    rgba(255, 213, 51, 50%);
  --current-accent-color: rgba(255, 176, 0, 80%);
  --past-accent-color:    rgba(255, 0, 0, 8%);
}

h3 {
  margin: 0;
}

p + ul {
  margin-top: -10px;
  margin-bottom: 5px;
}


.nowrap {
  white-space: nowrap;
}
.no-borders {
  border: none;
}
.spacer {
  display: inline-block;
  width: 15px;
}

.colorSwatch {
  width: 13px;
  height: 13px;
  border-radius: 2px;
  border: 1px solid #CCC;
  display: inline-block;
  margin-right: 3px;
  margin-bottom: -2px;
}

.opening-text {
  font-size: 105%;
}
.body-wrap {
  max-width: 1155px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px;
}
.container {
  display: inline-block;
  margin-left: auto;
  text-align: center;
}
.bottom-container {
  display: inline;
  width: 100%;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.footer {
  text-align: center;
  margin: 25px auto;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 20px;
}
th, td {
  border: 1px solid #aaa;
  padding: 3px 12px 1px 12px;
  height: 32px;
}
th {
  background-color: #ccc;
  font-size: 105%;
}
th:has(+ td) {
  font-weight: normal;
  font-size: 100%;
}
td {
  position: relative;
}
td:empty {
  border-bottom: none;
  border-top: none;
}
td:hover, td:active {
  -webkit-text-stroke: 2pt rgba(255, 255, 255, 15%);
  paint-order: stroke fill;
}

#subsTable .notes-left {
  min-width: 70px;
  max-width: 170px;
}
#subsTable .notes-right {
  min-width:  80px;
  max-width: 180px;
}

#lessCommonSubsTable .notes-left {
  min-width: 170px;
  max-width: 270px;
}
#lessCommonSubsTable .notes-right {
  min-width: 130px;
  max-width: 230px;
}

#subsTable-3 .notes-left {
  min-width: 170px;
  max-width: 270px;
}


.he-example, .en-example {
  margin-bottom: 0;
  white-space: nowrap;
  min-width: 50%;
}
.en-example {
  text-align: left;
}
.he-example {
  text-align: right;
}
.he-example td, .en-example td {
  border: none;
}
.he-example span {
  line-height: 32px;
  padding: 0.1em 0.1em;
  padding-top: 0.15em;
  margin: 0px -0.1em;
}
.en-example span {
  line-height: 32px;
  padding: 0.1em 0.1em;
  margin: 0px -0.1em;
}
.container:has(> .he-example) {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.conj {
  /* color: #555; */
  border-left: 1px solid #eee;
}
.duplicate {
  color: #888;
}
td:has(+ .conj) {
  border-right: none;
}

.he {
  font-family: "SBLHebrew";
  font-size: 150%;
}
.poeticBookTables .he {
  font-family: 'ShofarD';
  font-size: 130%;
  line-height: 150%;
}
.tl {
  font-style: italic;
}

.end {
  border-left: 1.5px solid black;
}
td:has(+ .end) {
  border-right: none;
}

.arrow-from-right::before, .arrow-to-left::before, .arrow-top-to-left::before {
  content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="12px" height="10px" fill="transparent" stroke="black" stroke-width="1.5" stroke-linecap="round"%3E%3Cpath d="M4.5 2.5 L2 5 L4.5 7.5"/%3E%3Cpath d="M2 5 H10"/%3E%3C/svg%3E%0A');
  position: absolute;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.arrow-from-right::before {
  right: -6px;
}
.arrow-to-left::before {
  left: -6px;
}
.arrow-top-to-left::before {
  height: 32px;
  left: -6px;
}
