
@font-face {
  font-family: "SBLHebrew";
  src: url("SBLHebrew.woff2");
}

@font-face {
  font-family: "ShofarD";
  src: url("Shofar_D.woff");
}

body {
  font-family: "Crimson Text";
  text-align: justify;
  --future-accent-color:  rgba(88, 255, 0, 8%);
  --next-accent-color:    rgba(255, 213, 51, 50%);
  --current-accent-color: rgba(255, 176, 0, 80%);
  --past-accent-color:    rgba(255, 0, 0, 8%);
}

a,
a:visited {
  color: #149;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
a:focus,
a:visited:hover,
a:visited:focus {
  color: #F3470F;
}
td:target, span:target {
  text-shadow: 1px 1px 10px AccentColor;
  animation: hilite 2s ease-out 8s forwards;
}

h3 {
  margin: 0;
}

p + ul {
  margin-top: -10px;
  margin-bottom: 5px;
}
ul {
  margin-top: 2px;
  padding-left: 25px;
}


.nowrap {
  white-space: nowrap;
}
.small-caps {
  font-variant: small-caps;
}
.no-borders {
  border: none;
}
.spacer {
  display: inline-block;
  width: 15px;
}

.colorSwatch {
  width: 13px;
  height: 13px;
  border-radius: 2px;
  border: 1px solid #CCC;
  display: inline-block;
  margin-right: 3px;
  margin-bottom: -2px;
}

.opening-text {
  font-size: 105%;
}
.body-wrap {
  min-width: 830px;
  max-width: 1155px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px;
}
.container {
  display: inline-block;
  text-align: center;
}
.outer.container {
  width: 100%;
}
.multi-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  column-gap: 10px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.footer {
  text-align: center;
  margin: 25px auto;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 20px;
}
th, td {
  border: 1px solid #aaa;
  padding: 3px 12px 1px 12px;
  height: 32px;
}
th {
  background-color: #ccc;
  font-size: 105%;
}
th:has(+ td) {
  font-weight: normal;
  font-size: 100%;
}
td {
  position: relative;
}
td:empty, th:empty {
  border-bottom: none;
  border-top: none;
  background: none;
}
/* td:hover, td:active {
  -webkit-text-stroke: 2pt rgba(255, 255, 255, 15%);
  paint-order: stroke fill;
} */
@keyframes hilite {
  100% { text-shadow: 1px 1px 10px rgba(255, 255, 255, 0%); }
}

#subsTable .notes-left {
  text-align: left;
  min-width: 110px;
  max-width: 210px;
}
#subsTable .notes-right {
  text-align: left;
  min-width:  80px;
  max-width: 200px;
}

#subsTable-3 .notes-left {
  min-width: 170px;
  max-width: 270px;
}

#correspondences {
  margin-bottom: 0;
  width: 100%;
}
#correspondences td {
  border: none;
}
#correspondences .notes-left {
  min-width: 580px;
  max-width: 680px;
  text-align: left;
}


.he-example, .en-example, .he-en-example {
  margin-bottom: 0;
  /* white-space: nowrap; */
  min-width: 50%;
}
.en-example {
  text-align: left;
}
.he-example {
  text-align: right;
}
.he-en-example {
  text-align: center;
}
.he-example td, .en-example td, .he-en-example td {
  border: none;
}
.he-example span, .en-example span, .he-en-example span {
  line-height: 32px;
  padding: 0.1em 0.1em;
  margin: 0px -0.1em;
}
.container:has(> .he-example), .container:has(> .en-example), .container:has(> .he-en-example) {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
}

td:has(.unm-short-phrase) {
  padding-bottom: 10px;
}
td:has(.long-phrase) {
  padding-bottom: 60px;
}
.short-phrase, .long-phrase, .unm-short-phrase {
  position: relative;
  line-height: unset;
}
.short-phrase::after, .long-phrase::after, .unm-short-phrase::after {
  position: absolute;
  display: block;
  left: 2%;
  right: 2%;
  text-align: center;
  font-family: 'Crimson Text';
  font-size: 10pt;
  line-height: initial;
}
.unm-short-phrase::after {
  top: 120%;
  border-top: 1px solid;
  content: "";
}
.short-phrase::after {
  top: 120%;
  border-top: 1px solid;
  content: "phrase";
}
.long-phrase::after {
  top: 220%;
  border-top: 2.5px double;
  content: "clause";
}
/* .abbr.short-phrase::after {
  content: "short";
}
.abbr.long-phrase::after {
  content: "long";
} */

.conj {
  /* color: #555; */
  border-left: 1px solid #eee;
}
.duplicate {
  opacity: 50%;
}
td:has(+ .conj) {
  border-right: none;
}

.he {
  font-family: 'SBLHebrew';
  font-size: 150%;
}
.poeticBookTables .he {
  /* font-family: 'ShofarD';
  font-size: 130%;
  line-height: 150%; */
  font-size: 140%;
}
.tl {
  font-family: 'Crimson Text';
  font-style: italic;
}

.end {
  border-left: 1.5px solid black;
}
.end-below {
  border-top: 1.5px dashed black;
}
td:has(+ .end) {
  border-right: none;
}
.end-above {
  border-bottom: none;
}

.arrow::before {
  content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="12px" height="10px" fill="transparent" stroke="black" stroke-width="1.5" stroke-linecap="round"%3E%3Cpath d="M4.5 2.5 L2 5 L4.5 7.5"/%3E%3Cpath d="M2 5 H10"/%3E%3C/svg%3E%0A');
  position: absolute;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.arrow.from-right::before {
  right: -7px;
}
.arrow.to-left::before {
  left: -6px;
}
.arrow.top-half-to-left::before {
  height: 50%;
  left: -6px;
}
.arrow.top-quarter-to-left::before {
  height: 25%;
  left: -6px;
}
.arrow.top-to-left::before {
  height: 32px;
  left: -6px;
}
